<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/findWorker.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Search Workers</title>

    <style>
        #loader-wrapper {
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.8); /* Light black background */
              display: flex;
              justify-content: center;
              align-items: center;
              z-index: 1000;
            }
        
            .loader {
              display: flex;
              justify-content: space-around;
              width: 60px;
            }
        
            .dot {
              width: 15px;
              height: 15px;
              background-color: white;
              border-radius: 50%;
              animation: blink 1.4s infinite both;
            }
        
            .dot:nth-child(1) {
              animation-delay: 0s;
            }
        
            .dot:nth-child(2) {
              animation-delay: 0.2s;
            }
        
            .dot:nth-child(3) {
              animation-delay: 0.4s;
            }
        
            @keyframes blink {
              0%, 80%, 100% {
                opacity: 0;
              }
              40% {
                opacity: 1;
              }
            }
        
        </style>
        
          </head>
        <body>
        <div id="loader-wrapper">
            <div class="loader">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
          </div>
    <div class="sidebar">
        <h1 class="logo"> Find a Worker </h1>
        <div class="menus">
            <a href="/"><ion-icon name="home-outline"></ion-icon> Home </a>            
            <a href="/seeker/dashboard"><ion-icon name="home-outline"></ion-icon> Dashboard </a>
            <a href="/seeker/postJob"><ion-icon name="briefcase-outline"></ion-icon> Post a Job </a>                        
            <a onclick="showShortlisted()" href="#" >
                <ion-icon name="bookmarks-outline"></ion-icon> Shortlisted
              </a>
        </div>
        <div class="profile">
            <div class="profile-name">
                <h4><%= user %></h4>
                <p>Finding workers...</p>
            </div>  
        </div>
    </div>

    <div class="main" id="mainX" >
        <div class="main-header">
            <div class="search">
                <input type="text" placeholder="Find your best worker here...">
                <button class="btn-search"><ion-icon name="search-outline"></ion-icon></button>
            </div>
        </div>
        <div class="filter-wrapper">
            <h3>Services</h3>
            <div class="filter">
                <button class="btn-filter" onclick="getData('Chef')">Chef</button>
                <button class="btn-filter" onclick="getData('Gym Instructor')">Gym Instructor</button>
                <button class="btn-filter" onclick="getData('Maid')">Maid</button>
                <button class="btn-filter" onclick="getData('Health Care')">Health Care</button>
            </div>
            <div class="filter">
                <button class="btn-filter" onclick="getData('Event-Planner')">Event-Planner</button>
                <button class="btn-filter" onclick="getData('Make-Up')">Make-Up</button>
                <button class="btn-filter" onclick="getData('Baby Care')">Baby Care</button>
                <button class="btn-filter" onclick="getData('Tutor')">Tutor</button>                
            </div>
            
            <div class="wrapper" id="providersDisplay"><h3>Please select services <br>whose providers you want to search<h3></div>
        </div>
    </div>
    <div id="detail" class="detail"></div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          setTimeout(function() {
            document.getElementById('loader-wrapper').style.display = 'none';
            document.getElementById('content').style.display = 'block';
          }, 1000); // Adjust the timeout duration as needed
        });
      </script>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="/scripts/findWorker.js"></script>
</html>