<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makeover</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
        <link href="/css/servicePages/services-pages.css" rel="stylesheet">
</head>

<body>

    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images.unsplash.com/photo-1516975080664-ed2fc6a32937?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" style="height: 100vh;" alt="First Slide">
                <div class="carousel-caption glass">
                    <h5 class="fs-3">ABOUT SERVICE</h5>
                    <p style="text-align: justify;">EMakeup and skincare services brought to your doorstep redefine convenience and luxury. 
                        Our expert professionals provide personalized and high-quality beauty treatments in the comfort of your home.
                         Experience the artistry of flawless makeup application tailored to enhance your natural beauty. Our skincare services go beyond routine
                         , offering customized treatments to nourish and revitalize your skin. From rejuvenating facials to precision makeup application,
                          our at-home services cater to your unique preferences. Indulge in a pampering experience that saves you time and brings professional
                           beauty expertise directly to you. Elevate your self-care
                         routine with our on-demand makeup and skincare services for a radiant and refreshed glow.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1512207855369-643452a63d46?q=80&w=1383&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" style="height: 100vh;" alt="Second Slide">
                <div class="carousel-caption glass">
                    <h5 class="fs-3">Terms And Policy</h5>
                    <ol style="text-align: justify;">
                        <li><strong>Service Booking:</strong> Book makeup and skincare online or through customer service; appointments subject to availability.</li>
                        <li><strong>Service Area:</strong> Available in specified areas; additional fees may apply for locations outside the service range.</li>
                        <li><strong>Service Duration:</strong> Service times detailed in the description; clients advised to allocate the required time.</li>
                        <li><strong>Client Preparedness:</strong> Ensure a clean, well-lit space; disclose allergies for skincare services in advance.</li>
                        <li><strong>Quality Assurance:</strong> Striving for high-quality services; dissatisfied clients encouraged to contact customer service within 48 hours for resolution.</li>
                    </ol>
                    
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1608979048467-6194dabc6a3d?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" style="height: 100vh;" alt="Third Slide">
                <div class="carousel-caption glass">
                    <p style="text-align: justify;">Availing our services is the key to unlocking a world of convenience and expertise right at your doorstep.
                         By choosing our offerings, you gain access to a curated selection of high-quality services tailored to meet your unique needs.
                          Our skilled professionals bring their expertise directly to you, saving you time and effort. Experience the luxury of personalized 
                          attention and the convenience of enjoying top-notch services in the comfort of your own space. Whether it's skincare, makeup,
                           fitness, or more, our platform ensures a seamless and enjoyable experience. Choose to avail our services for a hassle-free and
                            exceptional journey toward well-being and beauty. 
                        Elevate your lifestyle with the ease and satisfaction that our services provide.
                    </p>
                    <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#availNowModal">Avail Service</button>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Avail Now Modal -->
    <div class="modal fade" id="availNowModal" tabindex="-1" aria-labelledby="availNowModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="availNowModalLabel">Avail Service</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body center-text">
                    <form id="availform" action="/services/availFormAction" method="post"  novalidate>
                        <input type="hidden" name="serviceType" value="make-up"> <!-- Set the service type dynamically -->
                        <div class="mb-3">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" class="form-control" id="location" name="location" required>
                        </div>
                        <div class="mb-3">
                            <label for="estimatedBudget" class="form-label">Estimated Budget</label>
                            <input type="number" class="form-control" id="estimatedBudget" name="estimatedBudget" 
                                   min="0" max="100000" step="1" required>
                        </div>
                        <div class="mb-3">
                            <label for="serviceDate" class="form-label">Service Date</label>
                            <input type="date" class="form-control" id="serviceDate" name="serviceDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="serviceTime" class="form-label">Service Time</label>
                            <select class="form-select" id="serviceTime" name="serviceTime" required>
                                <option value="7am-10am">7am - 10am</option>
                                <option value="10am-1pm">10am - 1pm</option>
                                <option value="1pm-4pm">1pm - 4pm</option>
                                <option value="4pm-7pm">4pm - 7pm</option>
                                <option value="7pm-8pm">7pm - 8pm</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Get Service</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script>
        // Custom JavaScript for form validation
        (function () {
            'use strict';

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation');

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }

                        form.classList.add('was-validated');
                    }, false);
                });
        })();
    </script>
</body>

</html>