<!--Footer-->

<footer>
    <div class="row mt-3 p-4">
     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 footer-heading">
       <img src="/images/logo.png" width="200" class="mt-3">
       <p class="text-white">Care Fusion, Copyright &copy 2023 All rights reserved</p>
       <p class="text-white mt-1">At Care Fusion, we transcend the conventional bounds of a service platform. 
         Our mission goes beyond mere connection, we directly link individuals to dedicated disability support workers and aged care professionals. </p>
     </div>
   
     <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2  p-3 footer-heading">
       <ul>
         <li class="text-secondary fw-bold">Links</li>
         <li><a href="#" class="text-white text-decoration-none">Home</a></li>
         <li><a href="#" class="text-white text-decoration-none">Services</a></li>
         <li><a href="#blog" class="text-white text-decoration-none">Blog</a></li>
         <li><a href="#Team" class="text-white text-decoration-none">Team</a></li>
       </ul>
     </div>
     
     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 p-3 footer-heading">
       <ul>
         <li class="text-secondary fw-bold">Getting Started</li>
         <li><a href="#" class="text-white text-decoration-none">Login</a></li>
         <li><a href="#" class="text-white text-decoration-none">Signup as a Service Seeker</a></li>
         <li><a href="#" class="text-white text-decoration-none">Signup as a Service Provider</a></li>
         <li><a href="#" class="text-white text-decoration-none">Post your care needs</a></li>
         <li><a href="#" class="text-white text-decoration-none">Become a care Provider</a></li>
       </ul>
     </div>
   
     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 p-3 footer-heading">
       <ul>
         <li class="text-secondary fw-bold">Important</li>
         <li><a href="#About" class="text-white text-decoration-none">About</a></li>
         <li><a href="/T&C-PP" class="text-white text-decoration-none">Privacy Policy</a></li>
         <li><a href="#" class="text-white text-decoration-none">Complaints Policy</a></li>
         <li><a href="/T&C-PP" class="text-white text-decoration-none">Terms & conditions</a></li>
       </ul>
     </div>  
    </div>
   
    <div class="row ms-5">
     <h4 class="text-white text-uppercase fs-5">Follow us on</h4>
     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
       <a href="#"><img src="https://www.edigitalagency.com.au/wp-content/uploads/Facebook-logo-blue-circle-large-transparent-png.png" width="30px"></a>
       <a href="#"><img src="https://static.vecteezy.com/system/resources/previews/018/930/413/non_2x/instagram-logo-instagram-icon-transparent-free-png.png" width="50px"></a>
       <a href="#"><img src="https://static.vecteezy.com/system/resources/thumbnails/027/395/710/small/twitter-brand-new-logo-3-d-with-new-x-shaped-graphic-of-the-world-s-most-popular-social-media-free-png.png" width="35px"></a>
       <a href="#"><img src="https://www.freeiconspng.com/uploads/whatsapp-logo-background-29.png" width="50px"></a>
     </div>
    </div>
   </footer> 